.indexcontent {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 10px;
  background-color: #e1e1e1;
}
.indexcontent .inner_box_s {
  margin-top: 10px;
  padding: 10px;
}
.it_box {
  background-color: white;
  padding: 6px;
  margin-bottom: 12px;
}
.it_box .changwen-wrap {
  display: -webkit-box;
}
.it_box .changwen-wrap .pic {
  width: 92px;
  height: 92px;
}
.it_box .changwen-wrap .titleanddescription {
  -webkit-box-flex: 1;
  padding-left: 10px;
  height: 92px;
}
.it_box .changwen-wrap .titleanddescription .title {
  background-color: #eaeaea;
  height: 55px;
  border-radius: 4px;
  padding: 4px;
  box-sizing: border-box;
  font-size: 16px;
  position: relative;
}
.it_box .changwen-wrap .titleanddescription .title::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -7px;
  right: 63px;
  border-top: 10px solid #eaeaea;
  border-left: 10px solid transparent;
  z-index: 999;
}
.it_box .changwen-wrap .titleanddescription .title::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 47px;
  background: url(/images/l-changwen-bg.png);
  background-size: contain;
  right: 12px;
  bottom: -45px;
}
.it_box .changwen-wrap .titleanddescription .description {
  font-size: 12px;
  color: #888;
  line-height: 40px;
}
.btnsbox {
  padding: 0 5px;
  margin-top: 10px;
}
.btnsbox .inner {
  border-top: 1px solid #ccc;
  display: -webkit-box;
}
.btnsbox .inner a {
  display: block;
  -webkit-box-flex: 1;
  text-align: center;
}
.btnsbox .inner a em {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/images/26.png);
  background-size: 250px 237.5px;
  position: relative;
  top: 5px;
}
.btnsbox .inner a em.biaotai {
  background-position: -150px -100px;
}
.btnsbox .inner a em.comment {
  background-position: -200px -100px;
}
.btnsbox .inner a b {
  font-weight: normal;
  font-size: 12px;
  color: #616161;
}
.infobox {
  background: white;
  margin-bottom: 12px;
  position: relative;
  padding-top: 80px;
}
.infobox .avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}
.infobox .user_name {
  position: absolute;
  top: 19px;
  left: 56px;
  font-size: 14px;
}
.gifloader {
  position: relative;
}
.gifloader img {
  width: 100%;
}
.gifloader .gifbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(/images/26.png);
  background-size: 250px 237.5px;
  background-position: -150px -125px;
  width: 45px;
  height: 45px;
}
.jpgloader {
  position: relative;
  min-height: 100px;
}
.jpgloader img {
  width: 100%;
}
.jpgloader .loading {
  width: 100px;
  height: 100px;
  background: url(/images/loading.gif) center center;
  background-size: 200px 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
